<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.realtrip">

    <uses-permission android:name="android.permission.CAMERA" /> <!-- 카메라 접근 허용 권한 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 저장소 쓰기 허용 권한 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 핸드폰 저장소 접근 허용 권한 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 인터넷에 접근하기위해 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- FOREGROUND_SERVICE 이용하기위해 (공부하기) -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- ?? (공부하기) -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" /> <!-- 와우자를 사용하기 위해서 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name=".activity.PlayerActivity">
        </activity>

        <!--<activity android:name=".activity.PlayerActivity"-->
            <!--android:configChanges="orientation|keyboardHidden|screenSize"-->
            <!--android:screenOrientation="fullSensor"></activity>-->
        <activity
            android:name=".activity.BroadcastActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activity.ChatBotActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".service.RestartChatService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.ChatService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false" />

        <activity
            android:name=".activity.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ReviewUpdateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ShowReviewImgActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.realtrip.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".activity.ReviewListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ReviewWriteActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_api_key" /> <!-- 구글 맵을 위해 -->
        <activity
            android:name=".activity.TouristDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BoardDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UpdateProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BoardWrite3Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BoardWrite2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BoardWriteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChatListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RealTripActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyPageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UpdatePassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.JoinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>



        <receiver android:name=".receive.AlarmReceiver" />
        <receiver
            android:name=".receive.RebootReceiver"
            android:enabled="true"
            android:exported="false"
            android:process=":remote">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>